@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
.posts {
  background-color: #0b132b;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  margin-top: 20px;
}
.userPhoto img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}
.post_username_position {
  display: flex;
  flex-direction: row;
}
.userPhoto span {
  cursor: pointer;
}
.userPhoto {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: #fff;
}
.postPhotos p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}
.postPhotos img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  object-fit: cover;
}
.slick-slider {
  width: 100%;
}

/* Настройки слайдів */
.slick-slide {
  width: 100%;
}

/* Настройки зображень в слайді */
.slick-slide img {
  width: 100%;
  height: auto;
}
.EditForm {
  font-family: "Tilt Neon", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn-post-save {
  background-color: #5bc0be;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
  margin-bottom: 10px;
}
.btn-post-save:hover {
  background-color: #3a506b;
}
.likes_and_count {
  font-size: 30px;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-family: "Tilt Neon", sans-serif;
  align-items: center;
}
.likes_and_count p {
  margin: 0 40px 0 10px;
}
.likes_and_count span {
  font-size: 38px;
}
.like_button {
  background-color: #0b132b;
  border: none;
  cursor: pointer;
  color: #fff;
}
.coment_btn {
  background-color: #0b132b;
  border: none;
  cursor: pointer;
  color: #fff;
}
.active_coment_btn {
  color: #5bc0be;
  background-color: #0b132b;
  border: none;
  cursor: pointer;
}
.coment_btn:hover {
  color: #5bc0be;
}
.like_button:hover {
  color: #5bc0be;
}
.liked_button {
  background-color: #0b132b;
  border: none;
  cursor: pointer;
  color: #5bc0be;
  font-size: 24px;
}
/* Додайте цей стиль для налаштування стрілок слайдера */
.slick-prev,
.slick-next {
  font-size: 24px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
