@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

.ErrorCatcher {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  z-index: 999;
  background-color: rgba(156, 156, 156, 0.432);
  display: grid;
  place-items: center;
}

.ErrorBlock {
  background-color: #fff;
  height: 30svw;
  width: 30svw;
  display: grid;
  place-items: center;
  border-radius: 2svw;
}

.ErrorBlock button {
  border: none;
  background-color: #3a506b;
  font-size: 2svw;
  padding: 1svw;
  border-radius: 1svw;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
}

.ErrorBlock button:hover {
  background-color: #5bc0be;
}

.ErrorBlock p {
  font-size: 2svw;
  width: 80%;
}
