.chat-page {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-family: "Tilt Neon", sans-serif;
  height: 100%;
}

.chat-list-block img {
  width: 4.5svw;
  height: 4.5svw;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}
.chat-list-block {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
.chat-route a.active {
  width: 100%;
  background-color: #5bc0be;
}

.chat-list-block p {
  color: #fff;
  margin-left: 10px;
  font-size: 1.3svw;
}
.chat-list-block:hover {
  background-color: #3a506b;
}
.create-chat button {
  width: 100%;
  margin: 10px 0;
  background-color: #1c2541;
  border: none;
  color: #fff;
  font-size: 1.3svw;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-family: "Tilt Neon", sans-serif;
}

.create-chat button:hover {
  background-color: #3a506b;
}

.chat-route {
  border-radius: 10px;
  width: 20svw;
  height: auto;
  background-color: #1c2541;
  overflow-y: auto;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #3a506b;
  overflow: hidden;
}

.enter-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #1c2541;
  font-family: "Tilt Neon", sans-serif;
}
.enter-message button {
  border: none;
  width: 16%;
  background-color: #5bc0be;
  font-family: "Tilt Neon", sans-serif;
  height: 100%;
  font-size: 2svw;
  border-radius: 0 0 10px 0;
  color: #fff;
  cursor: pointer;
}
.enter-message button:hover {
  background-color: #0b132b;
  color: #5bc0be;
}
.enter-message textarea {
  padding-left: 10px;
  font-family: "Tilt Neon", sans-serif;
  padding-top: 10px;
  width: 86%;
  font-size: 1.3svw;
  background-color: #1c2541;
  border: none;
  height: 100%;
  resize: none;
  border-radius: 0 0 0 10px;
  display: flex;
  outline: none;
  color: #fff;
}
.enter-message textarea::placeholder {
  color: #fff;
}
.justifycontent-flex-end {
  align-self: flex-end;
}
.justifycontent-flex-start {
  align-self: flex-start;
}

.chat-messages {
  width: 94%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 94%;
}
.Message {
  margin: 10px 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  word-break: break-all;
  background-color: #1c2541;
  border-radius: 15px;
  color: #fff;
  padding: 10px;
  font-size: 1.2svw;
}

.delete-message {
  color: #5bc0be;
  background-color: #3a506b;
  border: none;
  padding: 4px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 3svw;
  width: 3svw;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 2svw;
}

.delete-message:hover {
  background-color: #5bc0be;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .Message p {
    font-size: 2.5svw;
  }

  .delete-message {
    padding: 1svw;
    margin-left: 1svw;
    height: 5svw;
    width: 5svw;
    cursor: pointer;
  }
  .material-symbols-outlined{
    font-size: 4svw;
  }
  .chat-route {
    width: 30%;
  }
  .chat-list-block p{
    font-size: 2svw;
  }

  .chat-list-block img{
    height: 5svw;
    width: 5svw;
  }
}
