@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
:root {
  --error-color: #c40303;
  }
.Profile {
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    justify-content: center;
}

.Create-Post {
    background-color: #0B132B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Tilt Neon', sans-serif;
}

#post_text {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3A506B;
    color: #fff;
    outline: none;
    resize: none;
    font-size: 18px;
    font-family: 'Tilt Neon', sans-serif;
}

.Profile button {
    background-color: #5BC0BE;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Tilt Neon', sans-serif;
}

.Profile button:hover {
    background-color: #3A506B;
}
#fileInput {
    display: none;
    font-size: 16px;
}
.text-error{
    color: var(--error-color);
}
#error_foto{
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--error-color);
    margin-bottom: 10px;
    border: 2px dashed var(--error-color);
    padding: 20px;
    border-radius: 8px;
}
#fileInputLabel {
    width: 100%;
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #5BC0BE;
    margin-bottom: 10px;
    border: 2px dashed #5BC0BE;
    padding: 20px;
    border-radius: 8px;
}

#fileInputLabel:hover {
    border-color: #3A506B;
}

#fileInputLabel img {
    width: 50px;
    margin-bottom: 10px;
}
.selected-images {
    display: flex;
    margin-bottom: 10px;
}

.selected-images img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.selected-images img:hover {
    transform: scale(1.2);
}
#post_text::placeholder{
    color: #fff;
}
.enlarged-image {
    max-width: 80%;
    max-height: 80%;
}

.close-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}