.dialogs {
    grid-area: 2 / 2 / 4 / 5;
    background-color: orange;
    border-radius: 15px;
}

.dialog {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.user_dialog {
    grid-area: 1 / 1 / 11 / 2;
}

.dialog_content {
    grid-area: 1 / 2 / 11 / 3;
}
.dialog_avatar img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.messageitem{
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    color: black;
}
.messageitem a{
    text-decoration: none;
}
.messageitem a.active{
    color: purple;
    background-color: rgb(230, 154, 55);
  }